[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"
keyboard = "*"
pygame = "*"
pyrealsense2 = "*"
numpy = "*"
opencv-python = "*"

[dev-packages]
ipykernel = "*"                 

[requires]
python_version = "3.8"
