[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"
keyboard = "*"
numpy = "*"
opencv-python = "*"
pyrealsense2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
